Repository UnBArqDsw2021-1/2021.1_G7_Mychine_docs, pull requests merged in 2021-09, with the labels that each got.

#70 Estrutura da entrega 3
  _docs/atas/index.md
  _docs/modelagem/index.md
  _docs/padroes_de_projeto/index.md
  _docs/padroes_de_projeto/modulo1/avancado.md
  _docs/padroes_de_projeto/modulo1/basicos.md
  _docs/padroes_de_projeto/modulo1/index.md
  _docs/padroes_de_projeto/modulo2/comportamentais.md
  _docs/padroes_de_projeto/modulo2/criacionais.md
  _docs/padroes_de_projeto/modulo2/estruturais.md
  _docs/padroes_de_projeto/modulo2/index.md
  _docs/padroes_de_projeto/modulo3/index.md
  _docs/politica_contribuicao/politicas_contribuicao.md
Labels: documentation

#75 Corrigido módulo de modelagem
  _docs/modelagem/index.md
  _docs/modelagem/modulo1/classe.md
  _docs/modelagem/modulo1/componentes.md
  _docs/modelagem/modulo1/index.md
  _docs/modelagem/modulo1/pacotes.md
  _docs/modelagem/modulo2/atividade.md
  _docs/modelagem/modulo2/comunicacao.md
  _docs/modelagem/modulo2/estado.md
  _docs/modelagem/modulo2/index.md
  _docs/modelagem/modulo2/sequencia.md
  _docs/modelagem/modulo3/backlog.md
  _docs/modelagem/modulo3/index.md
  _docs/modelagem/modulo3/niveisDeAbstracao.md
  _docs/modelagem/modulo3/priorizacao.md
Labels: bug, documentation

#74 Corrigido títulos do modulo Padrões de projeto - GoFs
  _docs/padroes_de_projeto/modulo2/comportamentais.md
  _docs/padroes_de_projeto/modulo2/criacionais.md
  _docs/padroes_de_projeto/modulo2/estruturais.md
Labels: bug, documentation

#77 Adapter
  _docs/padroes_de_projeto/modulo2/estruturais.md
  assets/images/AdapterDiagrama.svg
Labels: documentation

#80 Adicionando conteúdo sobre o padrão strategy
  _docs/padroes_de_projeto/modulo2/comportamentais.md
  assets/images/Diagrama-strategy.svg
Labels: documentation

#83 Padrao de projeto prototype
  _docs/padroes_de_projeto/modulo2/criacionais.md
  assets/images/Diagrama-prototype.svg
  assets/images/uml-prototype.png
Labels: documentation

#86 Composite
  _docs/padroes_de_projeto/modulo2/estruturais.md
  assets/diagrams/ProductCompositeDiagram.drawio
  assets/images/Composite.png
  assets/images/ProductComposite.svg
Labels: documentation

#88 Adiciona topico Injeçao de Dependencia
  _docs/padroes_de_projeto/modulo2/estruturais.md
  _docs/padroes_de_projeto/modulo3/injecao_dependencia.md
  assets/diagrams/diagrama_context.svg
Labels: documentation

#90 adicionando o gof criacional abstract factory
  _docs/padroes_de_projeto/modulo2/criacionais.md
  assets/images/abstractFactory.png
Labels: documentation

#87 Padrões de Projeto GRASP
  _docs/modelagem/modulo1/classe.md
  _docs/padroes_de_projeto/modulo1/avancado.md
  _docs/padroes_de_projeto/modulo1/basicos.md
  assets/images/diagramaClasses/diagramaDeClassePreliminar.svg
  assets/images/diagramaClasses/diagramaDeClasseV1.svg
  assets/images/diagramaClasses/diagramaDeClasseV2.svg
Labels: documentation

#85 #84 aperfeicoa diagrama classes
  _docs/modelagem/modulo1/classe.md
Labels: documentation, enhancement, Extra

#96 Factory-Method
  _docs/padroes_de_projeto/modulo2/criacionais.md
  assets/images/FactoryMethod.png
Labels: documentation

#97 :art: Adicionando Atas
  _docs/atas/sprint3/index.md
  _docs/atas/sprint3/reuniao10.md
  _docs/atas/sprint3/reuniao11.md
  _docs/atas/sprint3/reuniao12.md
  _docs/atas/sprint3/reuniao13.md
Labels: documentation

#98 Readme3
  README.md
  _docs/padroes_de_projeto/modulo1/avancado.md
  assets/images/entrega3/screenshot1.png
  assets/images/entrega3/screenshot2.png
  assets/images/entrega3/screenshot3.png
  assets/images/entrega3/screenshot_video1.png
  assets/images/entrega3/screenshot_video2.png
  assets/images/entrega3/screenshot_video3.png
Labels: documentation
